<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" routerLink="add-emp">Employee list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="data-binding">Data Binding</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="pipe">Pipe</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="lifecycle">Life-Cycle</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" routerLink="signal">Signal</a>
          </li>

          <div class="dropdown me-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
              Control Flow
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
              <li><a class="dropdown-item active" routerLink="if-else">If</a></li>
              <li><a class="dropdown-item" routerLink="for">For</a></li>
              <li><a class="dropdown-item" routerLink="viewChild">View Child</a></li>
            </ul>
          </div>

          <div class="dropdown me-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
              Directives
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
              <li><a class="dropdown-item active" routerLink="structural-dir">Structural Directive</a></li>
              <li><a class="dropdown-item" routerLink="attributedirective">Attribute Directive</a></li>
              <li><a class="dropdown-item" routerLink="ngTemplate">Ng Template</a></li>
              <li><a class="dropdown-item" routerLink="ngContainer">Ng Container</a></li>
            </ul>
          </div>

          <div class="dropdown me-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
              Forms
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
              <li><a class="dropdown-item active" routerLink="tempelateForm"> Template Forms </a></li>
              <li><a class="dropdown-item" routerLink="reavtiveForm"> Reactive Forms </a></li>
            </ul>
          </div>

          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle me-2" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
              API-HttpClient
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
              <li><a class="dropdown-item active"  routerLink="getAPI">GetAPI</a></li>
              <li><a class="dropdown-item" routerLink="postAPI" >PostAPI</a></li>
            </ul>
          </div>

          <div class="dropdown me-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
              Decorator
            </button>
            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton2">
              <li><a class="dropdown-item" routerLink="viewChild">View Child</a></li>
            </ul>
          </div>
          
        </ul>
        <form class="d-flex">

          <select class="me-2" [(ngModel)]="selectedRole" name="selectedRole" (ngModelChange)="onRoleChnage($event)">
            <option value="">Select Role</option>
            <option value="user">User Role</option>
            <option value="guest">Guest Role</option>
          </select>

          <span class="text-white me-3 mt-1">{{loggedUserData.emailId}}</span>
          <button class="btn btn-outline-success" (click)="logOff()" type="button">LogOff</button>
        </form>
      </div>
    </div>

   

  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>

